{
  // 解码规则
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  // 辅助性插件
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
