@font-face {
  font-family: "iconfont"; /* Project id 3552598 */
  src: 
       url('iconfont/iconfont.woff2') format('woff2'),
       url('iconfont/iconfont.woff') format('woff'),
       url('iconfont/iconfont.ttf?t=1660541767513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before {
  content: "\e665";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-weixiubanshou:before {
  content: "\e715";
}

.icon-liwuhuodong:before {
  content: "\e600";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-gouwuche-tianchong:before {
  content: "\e70c";
}

